<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<style>
    .header{
        text-align: center;
        margin: 0 auto;
        color: crimson;
        background-color: rgb(146, 146, 84);
        width: 400px;
        margin-top: 100px;
        padding: 10px;
    }
</style>

<body>
    <div class="header">
        <div>
            <h1>Bismillah  - Index Home</h1>
        </div> 
    </div>
    
</body>
</html>